#include "resource.h"
#include "afxres.h"

IDI_MYICON1 ICON "wnds32.ico"
1 24 "dxPmdxConverter.manifest"

STRINGTABLE
MOVEABLE PURE LOADONCALL DISCARDABLE
BEGIN
IDS_ABOUTMSG, "dxPmdxConverter\nSimple PMD/PMX to MQO/OBJ converter.\nWritten by Dmitry Hrabrov\na.k.a. DeXPeriX"
IDS_SUCCESS, "Success"
IDS_SUCMSG, "Conversion was successful."
IDS_ERROR, "Error"
IDS_WARNING, "Warning"
IDS_WARNMSG, "Convert performed \nwith minor errors.\nSee the log for details."
IDS_TOTALTIME, "Total time of conversion: %ld ms."
IDS_ERROPENREAD, "The file can not be opened for reading."
IDS_ERRWRONGFORMAT, "Wrong input file format."
IDS_ERRMEMALLOC, "Could not allocate enough memory."
IDS_ERRWRONGREAD, "Read count error. Bad file?"
IDS_ERROPENWRITE, "The file can not be opened for writing."
IDS_STA_WAITFILE, "Waiting for file"
IDS_STA_READING, "Reading input file"
IDS_STA_WRMATER, "Writing output: Materials"
IDS_STA_WRVERTEX, "Writing output vertexes"
IDS_STA_WRFACES, "Writing output: Faces"
IDS_STA_CONVEND, "Converting completed"
IDS_STA_MATNOTEX, "Texture file does not exists:"
IDS_STA_TEXCONVERT, "Converting textures from BMP to PNG:"
IDS_STA_SPH, "Dynamic texture. Will be displayed incorrectly:"
END

IDD_MAINDIALOG DIALOG MOVEABLE PURE LOADONCALL DISCARDABLE 0,0,260,125
STYLE DS_FIXEDSYS|DS_SETFONT|DS_CENTER|WS_POPUP|WS_VISIBLE|WS_SYSMENU|WS_CAPTION
EXSTYLE WS_EX_CONTEXTHELP|WS_EX_ACCEPTFILES
CAPTION "dxPmdxConverter"
FONT 8, "Ms Shell Dlg"
BEGIN
  CONTROL "Input file:",IDC_STATIC,"STATIC",SS_LEFT|WS_CHILD|WS_GROUP|WS_VISIBLE ,5,7,35,8
  CONTROL "Please, choose a file...",IDC_INPUTEDIT,"EDIT",ES_READONLY|ES_LEFT|WS_CHILD|WS_BORDER|WS_TABSTOP|WS_VISIBLE|WS_DISABLED ,40,5,160,14
  CONTROL "Choose",IDC_CHOOSEBUTTON,"BUTTON",BS_DEFPUSHBUTTON|BS_VCENTER|BS_CENTER|WS_CHILD|WS_TABSTOP|WS_VISIBLE ,205,5,50,14
  CONTROL "Output:",IDC_STATIC,"STATIC",SS_LEFT|WS_CHILD|WS_GROUP|WS_VISIBLE ,5,24,24,8
  CONTROL "OBJ",IDC_RADIOOBJ,"BUTTON",BS_AUTORADIOBUTTON|BS_LEFT|WS_CHILD|WS_TABSTOP|WS_VISIBLE ,40,24,27,10
  CONTROL "MQO",IDC_RADIOMQO,"BUTTON",BS_AUTORADIOBUTTON|BS_LEFT|WS_CHILD|WS_TABSTOP|WS_VISIBLE ,70,24,27,10
  CONTROL "Textures BMP->PNG",IDC_TEXCONVERT,"BUTTON",BS_AUTOCHECKBOX|BS_LEFT|WS_CHILD|WS_TABSTOP|WS_VISIBLE ,110,24,76,10
  CONTROL "",IDC_COMBOPREC,"COMBOBOX",CBS_DROPDOWNLIST|WS_CHILD|WS_TABSTOP|WS_VISIBLE ,230,23,24,13
  CONTROL "Precision:",IDC_STATIC,"STATIC",SS_LEFT|WS_CHILD|WS_GROUP|WS_VISIBLE ,195,25,30,8
  CONTROL "",IDC_PROGRESSBAR,"msctls_progress32",WS_CHILD|WS_VISIBLE ,5,39,194,16
  CONTROL "Convert",IDC_CONVERTBUTTON,"BUTTON",BS_DEFPUSHBUTTON|BS_VCENTER|BS_CENTER|WS_CHILD|WS_TABSTOP|WS_VISIBLE ,205,39,50,16
  CONTROL "",IDC_LOGRICH,"RichEdit",WS_CHILD|WS_BORDER|WS_VSCROLL|WS_TABSTOP|WS_VISIBLE|0x844,5,59,250,61
END


LANGUAGE LANG_RUSSIAN, 1
STRINGTABLE
MOVEABLE PURE LOADONCALL DISCARDABLE
BEGIN
IDS_ABOUTMSG, "dxPmdxConverter\nПростой конвертер\nPMD/PMX в MQO/OBJ.\nАвтор: Храбров Дмитрий\na.k.a. DeXPeriX"
IDS_SUCCESS, "Успех"
IDS_SUCMSG, "Конвертирование прошло успешно."
IDS_ERROR, "Ошибка"
IDS_WARNING, "Предупреждение"
IDS_WARNMSG, "Конвертирование выполнено с\nнезначительными ошибками.\nСм. лог для подробностей."
IDS_TOTALTIME, "Общее время конвертирования: %ld мс."
IDS_ERROPENREAD, "Невозможно открыть файл для чтения."
IDS_ERRWRONGFORMAT, "Данный формат входного файла не поддерживается."
IDS_ERRMEMALLOC, "Не удалось выделить достаточно памяти."
IDS_ERRWRONGREAD, "Ошибка чтения. Плохой файл?"
IDS_ERROPENWRITE, "Невозможно открыть файл для записи."
IDS_STA_WAITFILE, "Ожидание файла"
IDS_STA_READING, "Чтение входного файла"
IDS_STA_WRMATER, "Запись: Материалы"
IDS_STA_WRVERTEX, "Запись геометрии"
IDS_STA_WRFACES, "Запись: индексы"
IDS_STA_CONVEND, "Конвертирование завершено"
IDS_STA_MATNOTEX, "Файл текстуры не существует:"
IDS_STA_TEXCONVERT, "Конвертирование текстур из BMP в PNG:"
IDS_STA_SPH, "Динамические текстуры. Будут отображены некорректно:"
END

LANGUAGE LANG_RUSSIAN, 1
IDD_MAINDIALOG DIALOG MOVEABLE PURE LOADONCALL DISCARDABLE 0, 0, 260, 125
STYLE DS_FIXEDSYS|DS_SETFONT|DS_CENTER|WS_POPUP|WS_VISIBLE|WS_SYSMENU|WS_CAPTION
EXSTYLE WS_EX_CONTEXTHELP|WS_EX_ACCEPTFILES
CAPTION "dxPmdxConverter"
FONT 8, "Ms Shell Dlg"
BEGIN
  CONTROL "На входе:",IDC_STATIC,"STATIC",SS_LEFT|WS_CHILD|WS_GROUP|WS_VISIBLE ,5,7,35,8
  CONTROL "Пожалуйста, выберите файл...",IDC_INPUTEDIT,"EDIT",ES_READONLY|ES_LEFT|WS_CHILD|WS_BORDER|WS_TABSTOP|WS_VISIBLE|WS_DISABLED ,41,5,159,14
  CONTROL "Выбрать",IDC_CHOOSEBUTTON,"BUTTON",BS_DEFPUSHBUTTON|BS_VCENTER|BS_CENTER|WS_CHILD|WS_TABSTOP|WS_VISIBLE ,205,5,50,14
  CONTROL "Формат:",IDC_STATIC,"STATIC",SS_LEFT|WS_CHILD|WS_GROUP|WS_VISIBLE ,5,25,30,8
  CONTROL "OBJ",IDC_RADIOOBJ,"BUTTON",BS_AUTORADIOBUTTON|BS_LEFT|WS_CHILD|WS_TABSTOP|WS_VISIBLE ,40,25,27,8
  CONTROL "MQO",IDC_RADIOMQO,"BUTTON",BS_AUTORADIOBUTTON|BS_LEFT|WS_CHILD|WS_TABSTOP|WS_VISIBLE ,70,25,27,8
  CONTROL "Текстуры BMP->PNG",IDC_TEXCONVERT,"BUTTON",BS_AUTOCHECKBOX|BS_LEFT|WS_CHILD|WS_TABSTOP|WS_VISIBLE ,105,25,82,8
  CONTROL "",IDC_COMBOPREC,"COMBOBOX",CBS_DROPDOWNLIST|WS_CHILD|WS_TABSTOP|WS_VISIBLE ,230,23,24,13
  CONTROL "Точность:",IDC_STATIC,"STATIC",SS_LEFT|WS_CHILD|WS_GROUP|WS_VISIBLE ,193,25,34,8
  CONTROL "",IDC_PROGRESSBAR,"msctls_progress32",WS_CHILD|WS_VISIBLE ,5,39,194,16
  CONTROL "Выполнить",IDC_CONVERTBUTTON,"BUTTON",BS_DEFPUSHBUTTON|BS_VCENTER|BS_CENTER|WS_CHILD|WS_TABSTOP|WS_VISIBLE ,205,39,50,16
  CONTROL "",IDC_LOGRICH,"RichEdit",WS_CHILD|WS_BORDER|WS_VSCROLL|WS_TABSTOP|WS_VISIBLE|0x844,5,59,250,61
END

